h1 {
  font-family: monospace;
  font-size: medium;
  text-align: center;
}
h2 {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  font-weight: bold;
  font-size: larger;
}
h6 {
  text-align: center;
  color: white;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}
#search-input {
  margin-left: 10px;
  margin-top: 10px;
}
#searchButton {
  margin-left: -50px;
  margin-top: 10px;
}
#icon {
  height: 200px;
  width: 200px;
}
#description {
  color: rgb(12, 203, 240);
  top: -25px;
  right: 45px;
  text-transform: capitalize;
}
#dayTime {
  top: -300px;
  left: 275px;
  color: rgb(12, 203, 240);
}
#bodystyle {
  background-color: #000000;
}
#city {
  font-weight: bold;
  font-size: 20px;
}
#tempElement strong {
  font-size: 80px;
  font-weight: bolder;
  color: #000000;
}
#celcius-link {
  text-decoration: none;
}
#fahrenheit-link {
  text-decoration: none;
}
.container {
  padding-top: 100px;
}
.card-body {
  background-color: #f5f7fa;
  border-radius: 25px;
}
.active {
  color: #000000;
  cursor: default;
  text-decoration: none;
}
.active:hover {
  text-decoration: none;
}
.degree {
  position: relative;
  top: -35px;
  margin-right: 2px;
}
.btn-group {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}
.row {
  font-size: 18px;
  font-weight: normal;
}

#button-addon2 {
  color: grey;
  background-color: whitesmoke;
}
#button-addon2:hover {
  color: rgb(12, 203, 240);
  opacity: 80;
}
#info {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  text-align: center;
}
.card {
  margin-top: 275px;
  box-shadow: 15px 10px 10px rgb(12, 203, 240);
}
.days {
  font-weight: bold;
}
.low {
  font-style: italic;
  font-weight: normal;
  color: rgb(12, 203, 240);
}
