h1 {
  font-family: monospace;
  font-size: medium;
  text-align: center;
}
h2 {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  font-weight: bold;
  font-size: larger;
  margin-right: -10px;
}
h6 {
  text-align: center;
  color: white;
}
li {
  list-style: none;
}
#icon {
  height: 200px;
  width: 200px;
  position: relative;
}
#weatherDetails {
  position: relative;
  top: -155px;
  left: 560px;
}
#humidity {
  color: aqua;
}
#description {
  color: rgb(12, 203, 240);
  position: relative;
  top: -25px;
  right: 45px;
  text-transform: capitalize;
}
#dayTime {
  position: relative;
  top: -300px;
  left: 275px;
  color: rgb(12, 203, 240);
}
#bodystyle {
  background-color: #000000;
}
#city {
  font-weight: bold;
  font-size: 20px;
}
#tempElement strong {
  font-size: 80px;
  font-weight: bolder;
  color: #000000;
}
.degree {
  position: relative;
  top: -35px;
  margin-right: 2px;
}
.btn-group {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}
.row {
  font-size: 18px;
  font-weight: normal;
}
#button-addon2 {
  color: grey;
  background-color: whitesmoke;
}
#button-addon2:hover {
  color: rgb(3, 60, 109);
  opacity: 80;
}
#info {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  text-align: center;
  position: relative;
  right: -25px;
  top: -75px;
  bottom: 0px;
}
.card {
  margin-top: 275px;
}
.card-body {
  background-color: #f5f7fa;
  border-radius: 25px;
}
.days {
  font-weight: bold;
}
.low {
  font-style: italic;
  font-weight: normal;
  color: rgb(12, 203, 240);
}
